### Telecom Customer Churn Dataset

#### Preprocessing

Importing Datasets

In [7]:
!chardetect "Telecom+Customer+Churn/telecom_data_dictionary.csv"

Telecom+Customer+Churn/telecom_data_dictionary.csv: Windows-1252 with confidence 0.73

In [12]:
import pandas as pd

df_cust_churn=pd.read_csv("Telecom+Customer+Churn/telecom_customer_churn.csv")
df_data_dict=pd.read_csv("Telecom+Customer+Churn/telecom_data_dictionary.csv", encoding='Windows-1252')
df_zipcode_popn=pd.read_csv("Telecom+Customer+Churn/telecom_zipcode_population.csv")

Dataframe Information

In [13]:
df_cust_churn

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Credit Card,65.60,593.30,0.00,0,381.51,974.81,Stayed,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,Credit Card,-4.00,542.40,38.33,10,96.21,610.28,Stayed,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,Bank Withdrawal,73.90,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,Bank Withdrawal,98.00,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Credit Card,83.90,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,20,No,0,La Mesa,91941,32.759327,-116.997260,0,...,Credit Card,55.15,742.90,0.00,0,606.84,1349.74,Stayed,NaN,NaN
7039,9992-RRAMN,Male,40,Yes,0,Riverbank,95367,37.734971,-120.954271,1,...,Bank Withdrawal,85.10,1873.70,0.00,0,356.40,2230.10,Churned,Dissatisfaction,Product dissatisfaction
7040,9992-UJOEL,Male,22,No,0,Elk,95432,39.108252,-123.645121,0,...,Credit Card,50.30,92.75,0.00,0,37.24,129.99,Joined,NaN,NaN
7041,9993-LHIEB,Male,21,Yes,0,Solana Beach,92075,33.001813,-117.263628,5,...,Credit Card,67.85,4627.65,0.00,0,142.04,4769.69,Stayed,NaN,NaN
7042,9995-HOTOH,Male,36,Yes,0,Sierra City,96125,39.600599,-120.636358,1,...,Bank Withdrawal,59.00,3707.60,0.00,0,0.00,3707.60,Stayed,NaN,NaN

In [10]:
df_data_dict

,Table,Field,Description
0,Customer Churn,CustomerID,A unique ID that identifies each customer
1,Customer Churn,Gender,"The customer’s gender: Male, Female"
2,Customer Churn,Age,"The customer’s current age, in years, at the t..."
3,Customer Churn,Married,"Indicates if the customer is married: Yes, No"
4,Customer Churn,Number of Dependents,Indicates the number of dependents that live w...
5,Customer Churn,City,The city of the customer’s primary residence i...
6,Customer Churn,Zip Code,The zip code of the customer’s primary residence
7,Customer Churn,Latitude,The latitude of the customer’s primary residence
8,Customer Churn,Longitude,The longitude of the customer’s primary residence
9,Customer Churn,Number of Referrals,Indicates the number of times the customer has...
10,Customer Churn,Tenure in Months,Indicates the total amount of months that the ...
11,Customer Churn,Offer,Identifies the last marketing offer that the c...
12,Customer Churn,Phone Service,Indicates if the customer subscribes to home p...
13,Customer Churn,Avg Monthly Long Distance Charges,Indicates the customer’s average long distance...
14,Customer Churn,Multiple Lines,Indicates if the customer subscribes to multip...
15,Customer Churn,Internet Service,Indicates if the customer subscribes to Intern...
16,Customer Churn,Internet Type,Indicates the customer's type of internet conn...
17,Customer Churn,Avg Monthly GB Download,Indicates the customer’s average download volu...
18,Customer Churn,Online Security,Indicates if the customer subscribes to an add...
19,Customer Churn,Online Backup,Indicates if the customer subscribes to an add...
20,Customer Churn,Device Protection Plan,Indicates if the customer subscribes to an add...
21,Customer Churn,Premium Tech Support,Indicates if the customer subscribes to an add...
22,Customer Churn,Streaming TV,Indicates if the customer uses their Internet ...
23,Customer Churn,Streaming Movies,Indicates if the customer uses their Internet ...
24,Customer Churn,Streaming Music,Indicates if the customer uses their Internet ...
25,Customer Churn,Unlimited Data,Indicates if the customer has paid an addition...
26,Customer Churn,Contract,Indicates the customer’s current contract type...
27,Customer Churn,Paperless Billing,Indicates if the customer has chosen paperless...
28,Customer Churn,Payment Method,Indicates how the customer pays their bill: Ba...
29,Customer Churn,Monthly Charge,Indicates the customer’s current total monthly...
30,Customer Churn,Total Charges,"Indicates the customer’s total charges, calcul..."
31,Customer Churn,Total Refunds,"Indicates the customer’s total refunds, calcul..."
32,Customer Churn,Total Extra Data Charges,Indicates the customer’s total charges for ext...
33,Customer Churn,Total Long Distance Charges,Indicates the customer’s total charges for lon...
34,Customer Churn,Total Revenue,Indicates the company's total revenue from thi...
35,Customer Churn,Customer Status,Indicates the status of the customer at the en...
36,Customer Churn,Churn Category,A high-level category for the customer’s reaso...
37,Customer Churn,Churn Reason,A customer’s specific reason for leaving the c...
38,Zip Code Population,Zip Code,The zip code of the customer’s primary residence
39,Zip Code Population,Population,A current population estimate for the entire Z...

In [14]:
df_zipcode_popn

      Zip Code  Population
0        90001       54492
1        90002       44586
2        90003       58198
3        90004       67852
4        90005       43019
...        ...         ...
1666     96145        4002
1667     96146         942
1668     96148         678
1669     96150       33038
1670     96161       15783

[1671 rows x 2 columns]

In [15]:
df_cust_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Gender                             7043 non-null   object
 2   Age                                7043 non-null   int64
 3   Married                            7043 non-null   object
 4   Number of Dependents               7043 non-null   int64
 5   City                               7043 non-null   object
 6   Zip Code                           7043 non-null   int64
 7   Latitude                           7043 non-null   float64
 8   Longitude                          7043 non-null   float64
 9   Number of Referrals                7043 non-null   int64
 10  Tenure in Months                   7043 non-null   int64
 11  Offer                              3166 non-null   object
 12  Phone Service                      7043 non-null   object
 13  Avg Monthly Long Distance Charges  6361 non-null   float64
 14  Multiple Lines                     6361 non-null   object
 15  Internet Service                   7043 non-null   object
 16  Internet Type                      5517 non-null   object
 17  Avg Monthly GB Download            5517 non-null   float64
 18  Online Security                    5517 non-null   object
 19  Online Backup                      5517 non-null   object
 20  Device Protection Plan             5517 non-null   object
 21  Premium Tech Support               5517 non-null   object
 22  Streaming TV                       5517 non-null   object
 23  Streaming Movies                   5517 non-null   object
 24  Streaming Music                    5517 non-null   object
 25  Unlimited Data                     5517 non-null   object
 26  Contract                           7043 non-null   object
 27  Paperless Billing                  7043 non-null   object
 28  Payment Method                     7043 non-null   object
 29  Monthly Charge                     7043 non-null   float64
 30  Total Charges                      7043 non-null   float64
 31  Total Refunds                      7043 non-null   float64
 32  Total Extra Data Charges           7043 non-null   int64
 33  Total Long Distance Charges        7043 non-null   float64
 34  Total Revenue                      7043 non-null   float64
 35  Customer Status                    7043 non-null   object
 36  Churn Category                     1869 non-null   object
 37  Churn Reason                       1869 non-null   object
dtypes: float64(9), int64(6), object(23)
memory usage: 2.0+ MB